body {
    background-image: linear-gradient(
      to bottom right,
      rgb(255, 182, 46),
      rgb(188, 122, 0)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }

  .webTitle{
    display:none;
  }

  .asideLeft, .asideRight{
    width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 85%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.45);
    padding: 5px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1{
    font-size: 2rem;
  }
.underline{
  background-color: rgb(54, 179, 201);
  width:99%;
  height: 4px;
  margin: 1rem auto;
}
  h2{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2px;
  }

  input[type="button"]{
    background-color: rgb(54, 179, 201);
    padding: 5px 10px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    cursor: pointer;
  }

  input[type="submit"] {
    background-color: rgb(54, 179, 201);
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    width: 10rem;
    height: 2rem;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(35, 110, 123);
    transition: background-color 0.2s;
  }

  form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    width: 95%
  }

.recipeDetails{
   overflow: scroll;
    overflow-x: hidden; 
}

  .textbox{
    display: flex;
  }

  input[type="text"]{
    background-color: rgb(209,248,254);
    color: black;
    height: 1.5rem;
    border: none;
    width: 15rem;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  #difficulty{
    font-size: 1rem;
    padding: .2rem;
    margin-top: 5px;
  }

  .allergies{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;

  }

  .allergies label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    text-align: center;
    margin: 5px;
  }

  @media screen and (max-width: 1170px) {
    body{
        display: flex;
        flex-direction: column;
    }
    
    .webTitle{
        display: block;
        color: rgb(56,56,56);
        font-size: 3rem;
        margin-bottom: 1rem;
  }
  
  .card{
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
   }
    
     .asideLeft, .asideRight {
         display: none;
     }
     
  }
  
  /* Phone Sizes */
  @media screen and (max-width: 414px) {
  
    body{
        max-width: 27rem;
        max-height: 57rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
  
    .webTitle{
        display: block;
        color: rgb(56,56,56);
        font-size: 2rem;
       
  }
  
   .card{
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
   }
  
   .allergyIndicator{
    margin-bottom: 0;
    margin-top: 0;
   }
  
   .removeWord{
    display: none;
   }
  
  
    
  }