body {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 182, 46),
    rgb(188, 122, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.asideLeft, .asideRight{
  width: 33%;
display: flex;
align-items: center;
justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  height: 85%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.45);
  padding-bottom: 5px;
}

.webTitle{
  display: none;
}

h1{
  font-weight: 800;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  
}

button,
input[type="submit"] {
  background-color: rgb(54, 179, 201);
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

button:hover,
input[type="submit"]:hover {
  background-color: rgb(35, 110, 123);
  transition: background-color 0.2s;
}

.allergyIndicator {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  width: 80%;
  line-height: 1.5em;
}

.allergyIndicator li p {
  margin: 0;
}

.hiddenLabel {
  display: none;
  text-align: center;
}
.allerIcon {
  height: 3rem;
}
.allerIcon:hover + .hiddenLabel {
  display: block;
}

.row4 {
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
  overflow-x: hidden;
  width: 95%;
  height: 90%;
}

.instructions,
.ingredients {
  width: 45%;
}

h2{
  font-weight: 600;
}

h3{
  font-weight: 500;
}

@media screen and (max-width: 1170px) {
  body{
      display: flex;
      flex-direction: column;
  }
  
  .webTitle{
      display: block;
      color: rgb(56,56,56);
      font-size: 3rem;
      margin-bottom: 1rem;
}

.card{
  max-width: 90%;
  max-height: 90%;
  padding-bottom: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
 }
  
   .asideLeft, .asideRight {
       display: none;
   }
   
}

/* Phone Sizes */
@media screen and (max-width: 414px) {

  body{
      max-width: 27rem;
      max-height: 57rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
  }

  .webTitle{
      display: block;
      color: rgb(56,56,56);
      font-size: 2rem;
     
}

 .card{
  max-width: 90%;
  max-height: 90%;
  padding-bottom: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
 }

 .allergyIndicator{
  margin-bottom: 0;
  margin-top: 0;
 }

 .removeWord{
  display: none;
 }


  
}