<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/static/landing.css">
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1 style="display: none;">Que Rico Landing Page</h1>
    <section class="card">
        <img src="https://i.imgur.com/vXR11gL.png" alt="Logo for Que Rico Website">
        <a href="/recipes"><button>Home Page</button></a>
      </section>
  </body>
</html>
